::-webkit-scrollbar {
  display: none;
}

.section {
  padding: 1rem 1.0rem !important;
}

#buy-price, #sell-price {
  font-weight: bold;
}

#tradingview_e1a5c {
  height: 300px;
}

.rate-value {
  font-size: 11px;
}

.input {
  text-align: right;
}

.input-back-green {
  color: white;
  background-color: #00d1b2;
  font-weight: bold;
}

.input-back-red {
  color: white;
  background-color: #f14668;
  font-weight: bold;
}

#wallet-connect {
  position: absolute;
  width: 350px;
  top: 220px;
  left: 22px;
}

#wallet-connect .tile {
  height: 350px;
}

#wallet-connect .tile .title {
  text-align: center;
}

#wallet-connect-qr {
  /* height: 250px; */
}

#qr-container {
  background: white;
}

#qr-loading {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

#staking {
  position: absolute;
  width: 350px;
  top: 240px;
  left: 22px;
}

#staking .tile {
  max-height: 250px;
}

#staking > .tile .title {
  text-align: center;
}

.staking-table {
  overflow-x: scroll;
  height: 150px;
  position: relative;
  overflow-y: scroll;
  padding: 5px;
}

.staking-table .row-title {
  text-align: center;
}

.token-staking-logo {
  width: 20px;
  position: absolute;
}

.token-staking-detail {
  padding-left: 25px;
}

.staking-input {
  text-align: center;
}

.detail-text {
  text-align: right;
  padding-top: 14px;
}

.label-sell-currency {
  font-size: 12px;
  width: 70%;
  float: left;
  margin-top: 12px;
}

.action-sell-currency {
  text-align: right;
}

.action-start {
  text-align: left;
}

.hide-element {
  display: none !important;
}

#buy-status-loading,
#sell-status-loading,
#staking-status-loading {
  width: 18px;
  height: 18px;
}

.footer {
  padding: 10px;
}

.footer .content {
  font-size: 10px;
}