::-webkit-scrollbar {
  display: none;
}

.section {
  padding: 1rem 1.0rem !important;
}

.buy-price-detail,
.sell-price-detail {
  width: 100%;
  padding-left: 10px;
}

.detail-image {
  cursor: pointer;
}

#buy-price, #sell-price {
  font-weight: bold;
}

#tradingview_e1a5c {
  height: 300px;
}

.rate-value {
  font-size: 11px;
}

.input {
  text-align: right;
}

.input-back-green {
  color: white;
  background-color: #00d1b2;
  font-weight: bold;
}

.input-back-red {
  color: white;
  background-color: #f14668;
  font-weight: bold;
}

#wallet-connect {
  position: absolute;
  width: 350px;
  top: 220px;
  left: 22px;
}

#wallet-connect .tile {
  height: 350px;
}

#wallet-connect .tile .title {
  text-align: center;
}

#qr-container {
  background: white;
}

#qr-loading {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

#staking {
  position: absolute;
  width: 350px;
  top: 240px;
  left: 22px;
}

.staking-title {
  padding-left: 10px;
  margin-top: 10px;
  position: absolute;
}

#staking > .tile .title {
  text-align: center;
}

.staking-table {
  overflow-x: scroll;
  height: 173px;
  position: relative;
  overflow-y: scroll;
  padding: 5px;
}

.staking-table .row-title {
  text-align: center;
}

.token-staking-logo {
  width: 20px;
  position: absolute;
}

.token-staking-detail {
  font-size: 10px;
  padding-left: 25px;
}

.staking-input {
  text-align: center;
}

#sell-detail-section .column {
  padding: 10px;
  padding-right: 20px;
}

.detail-text {
  text-align: right;
  padding-top: 14px !important;
}

.label-sell-currency {
  font-size: 12px;
  width: 70%;
  float: left;
  margin-top: 12px;
}

.action-sell-currency {
  text-align: right;
}

.action-start {
  text-align: left;
}

.hide-element {
  display: none !important;
}

#buy-status-image,
#sell-status-image,
#staking-status-image {
  width: 18px;
  height: 18px;
}

.buy-detail-container,
.sell-detail-container {
  background-color: white;
  height: 88px;
}

.token-buy-image,
.token-sell-image {
  float: left;
  width: 50px;
}

.token-buy-detail,
.token-sell-detail {
  float: right;
  position: absolute;
  padding-left: 20px;
  padding-top: 12px;
}

.data-bold {
  font-weight: bold;
}

.footer {
  padding: 10px;
  margin-top: 40px;
}

.footer .content {
  font-size: 10px;
}